<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:replace="~{mail/layout.html :: layout(~{::content})}">
<body>
<th:block th:fragment="content">
<h1 th:replace="~{mail/fragments.html :: heading('Thanks for getting in touch')}"></h1>
<p th:replace="~{mail/fragments.html :: para(|Hello ${p.name},|)}"></p>
<p th:replace="~{mail/fragments.html :: para('We have received your message and will reply within one working day.')}"></p>
<p th:replace="~{mail/fragments.html :: para('In the meantime, you can reply to this email with anything you would like us to know.')}"></p>
</th:block>
</body>
</html>
